	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}


nav{

	flex: 1;
	text-align: right;

}

nav ul{
	display: inline-block;
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;

}

a{
	text-decoration: none;
	color: #555;

}

p{
	color: #555;
}


.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 100px;
	padding-right: 25px;
}


.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;

}

.col-2 img{
	max-width: 55%;
	padding: 50px 0;
}

.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s; 
}

.btn:hover{
	background: #563434;
}

.header{
	background: radial-gradient(#fff,#93c7c3);

}

.header .row{
margin-top: 70px;
}

.categories{
	margin:70px 0;

}
.col-3{
	flex-basis:30%;
	min-width: 250px;
	margin-bottom: 30px;

}

.col-3 img{
	width: 100%;
}

.small-container{
	max-width: 1080px;
	margin:auto;
	padding-left: 25px;
	padding-right: 25px;
}

.search{
	margin-left: 200px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 20px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
